@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>会议室设备管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Equipments.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="EquipmentsTableToolbar" role="group">
                            @if(shiro.hasPermission("/equipments/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Equipments.openAddEquipments()"/>
                            @}
                            @if(shiro.hasPermission("/equipments/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Equipments.openEquipmentsDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/equipments/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Equipments.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="EquipmentsTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/equipments/equipments/equipments.js"></script>
@}
