<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.EquipmentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Equipments">
        <id column="id" property="id" />
        <result column="equipmentid" property="equipmentid" />
        <result column="equipmentname" property="equipmentname" />
        <result column="belongto" property="belongto" />
        <result column="storetime" property="storetime" />
        <result column="equiptype" property="equiptype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, equipmentid, equipmentname, belongto, storetime, equiptype
    </sql>

</mapper>
