<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Order">
        <id column="id" property="id" />
        <result column="goods_name" property="goodsName" />
        <result column="place" property="place" />
        <result column="create_time" property="createTime" />
        <result column="user_name" property="userName" />
        <result column="user_phone" property="userPhone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_name, place, create_time, user_name, user_phone
    </sql>

</mapper>
